
@model LuckyAssignment.Models.Lucky
@{
    Layout = "_Layout";
    ViewBag.Title = "Show";
}

@*

    @if (Model.result == true || Model.result == false)
    {
        <div>
            <label>@Model.result</label>
        </div>
    }
*@